@font-face {
  font-family: 'Lato';
  src: local('Lato Thin'), local('Lato-Thin'), url('/assets/css/fonts/latothin.woff2') format('woff2'), url('/assets/css/fonts/latothin.woff') format('woff'), url('/assets/css/fonts/latothin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'), url('/assets/css/fonts/latolight.woff2') format('woff2'), url('/assets/css/fonts/latolight.woff') format('woff'), url('/assets/css/fonts/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('/assets/css/fonts/latoregular.woff2') format('woff2'), url('/assets/css/fonts/latoregular.woff') format('woff'), url('/assets/css/fonts/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Medium'), local('Lato-Medium'), url('/assets/css/fonts/latomedium.woff2') format('woff2'), url('/assets/css/fonts/latomedium.woff') format('woff'), url('/assets/css/fonts/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'), local('Lato-Semibold'), url('/assets/css/fonts/latosemibold.woff2') format('woff2'), url('/assets/css/fonts/latosemibold.woff') format('woff'), url('/assets/css/fonts/latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url('/assets/css/fonts/latosemibolditalic.woff2') format('woff2'), url('/assets/css/fonts/latosemibolditalic.woff') format('woff'), url('/assets/css/fonts/latosemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('/assets/css/fonts/latobold.woff2') format('woff2'), url('/assets/css/fonts/latobold.woff') format('woff'), url('/assets/css/fonts/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Lato';
  src: local('Lato Heavy'), local('Lato-Heavy'), url('/assets/css/fonts/latoheavy.woff2') format('woff2'), url('/assets/css/fonts/latoheavy.woff') format('woff'), url('/assets/css/fonts/latoheavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'), url('/assets/css/fonts/latoblack.woff2') format('woff2'), url('/assets/css/fonts/latoblack.woff') format('woff'), url('/assets/css/fonts/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}